html {
    font-family: sans-serif;
}

.infobox_v3 {
    border: 1px solid black;    
    float: right;
    margin-left: 1em;
    padding: 1em;
    width: 22em;
    background-color: hsl(0, 0%, 95%);
    font-size: smaller;
    th[scope=row] {
        width: 6em;
        text-align: left;
        vertical-align: baseline;
    }
    .entete {
        background-color: hsl(209, 48%, 52%);
        padding: .5em;
        font-size: 1.3em;
        font-weight: bold;
        text-align: center;
        color: white;
    }
}
#bodyContent {
    width: 50em;
    margin: 0 auto;
    h2 {
        border-bottom: 3px solid black;
        font-family: georgia;
        font-weight: normal;
        font-variant: normal;
        margin: 0;
    }
    p {
        text-align: justify;
        line-height: 2;
    }
}